<%- include('partials/header') -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="container1">
            <label for="postTitle">Title</label>
            <input type="text" name="postTitle" class="col-6">
            <label for="postBody">Post</label>
            <textarea name="postBody" cols="30" rows="5"></textarea>
            <button type="submit" class="btn-primary">Publish</button>
        </div>
    </form>
<%- include('partials/footer') -%>